## Setup

In [265]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, Markdown

sns.set_theme(style="darkgrid")
pd.set_option('display.max_columns', None)  

import sys, os, yaml

DATASET = "Weather in Szeged"
COLAB = 'google.colab' in sys.modules

DEBUG = False
SEED = 666

In [266]:
COLAB = 'google.colab' in sys.modules

if COLAB:
  from google.colab import drive
  if not os.path.isdir("/content/gdrive"):
    drive.mount("/content/gdrive")
    d = "/content/gdrive/MyDrive/datasets"
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  ROOT = f"/content/gdrive/MyDrive/datasets/{DATASET.replace(' ','_')}/"
  if not os.path.isdir(ROOT): os.makedirs(ROOT)
else:
  ROOT = "./"

def makedirs(d):
  if COLAB:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  else:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d, mode=0o777, exist_ok=True)

for d in ['orig','data','output']: makedirs(d)

## Load Dataset

In [267]:
df = pd.read_pickle(f"{ROOT}/data/short_df.pickle")
df.head()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41
4,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51

# Baseline Model

- Definição do Target = `'Temperature (C)'`

In [268]:
y = df['Temperature (C)']
y = y.values.ravel()

X = df.drop('Temperature (C)', axis=1)
X = X.drop('Apparent Temperature (C)', axis=1)

# Split

# Train/Test

In [269]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

# Resultados

comente sobre os resultados

### O que é regressão em machine learning e qual é o seu principal objetivo?

### Uma vez definido o Target = 'Temperature (C)', por que é importante remover o `'Temperature (C)'` e `'Apparent Temperature (C)'` do `X` ? Se não fosse removido, isso impactaria na prática? Explique.

### Seria possível mudar o Target para 'Humidity'? Explique.